{% extends 'base.html.twig' %}

{% block breadcumb %}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/admin/dashboard">Home</a> 
    </li>
    <li><a href="/admin/evento">{%trans%}Event{%endtrans%}</a></li>
</ul>

{% endblock breadcumb %}

{% block body %}
    <h1>{%trans%}Event List{%endtrans%}</h1><br/>
    <div ng-app="angularTable">

        <div ng-controller="listdata"> 
            <form class="form-inline">
                <div class="form-group">
                    <label >{%trans%}Search{%endtrans%}</label>
                    <input type="text" ng-model="search" autofocus="autofocus" class="form-control" placeholder="{%trans%}Type text to search{%endtrans%}">
                    </div>
            </form><br/>
            <p style="color:blue">{%trans%}Click on the title of the column "Time Stamp" or "Level" to sort the contents of the column.{%endtrans%}</p>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th width="20%" ng-click="sort('fechaevento')">{%trans%}Time Stamp{%endtrans%}
                            <span class="glyphicon sort-icon" ng-show="sortKey=='fechaevento'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th width="20%" ng-click="sort('nivelevento')">{%trans%}Level{%endtrans%}
                            <span class="glyphicon sort-icon" ng-show="sortKey=='nivelevento'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th width="60%">{%trans%}Event{%endtrans%}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="evento in eventos|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                        <td>{{ '{{evento.fechaevento}}' }}</td>
                        <td>{{ '{{evento.nivelevento}}' }}</td>
                        <td>{{ '{{evento.descripcion}}' }}</td>
                    </tr>
                </tbody>
            </table> 

            <dir-pagination-controls
                max-size="10"
                direction-links="true"
                boundary-links="true" >
            </dir-pagination-controls>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/event.js') }}"></script>
    <script src="{{ asset('js/dirPagination.js') }}"></script>

{% endblock %}