{% extends 'base.html.twig' %}

{% block breadcumb %}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/admin/sensor/dashboard">Home</a> 
    </li>
</ul>

{% endblock breadcumb %}

{% block body %}
    <h1>{%trans%}Dashboard{%endtrans%}</h1><br/>
    <div ng-app="angularTable">
        <div ng-controller="listdata">
            <div class="row-fluid">
                <p style="color:blue">{%trans%}This control panel is refreshed every 10 seconds.{%endtrans%}</p>
                <table class="table table-bordered table-striped table-striped dataTable" ng-show="sensores">
                    <thead>
                        <tr>
                            <th>{%trans%}Sensor{%endtrans%}</th>
                            <th>{%trans%}Alarm Level{%endtrans%}</th>
                            <th>{%trans%}Last Value{%endtrans%}</th>
                            <th>{%trans%}Last Report{%endtrans%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sensor in sensores">
                            <td>{{'{{ sensor.description }}'}}</td>
                            <td ng-switch="{{'{{sensor.alarmlevel}}'}}" align="center" width="20%">
                                <div ng-switch-when="0">
                                    <img src="{{asset('img/dot_green.png')}}" width="32px" height="32px"/>
                                </div>
                                <div ng-switch-when="1">
                                    <img src="{{asset('img/dot_yellow.png')}}" width="32px" height="32px"/>
                                </div>
                                <div ng-switch-when="2">
                                    <img src="{{asset('img/dot_orange.png')}}" width="32px" height="32px"/>
                                </div>
                                <div ng-switch-when="3">
                                    <img src="{{asset('img/dot_red.png')}}" width="32px" height="32px"/>
                                </div>
                            </td>
                            <td width="20%">{{'{{sensor.humanvalue}} {{sensor.measurement}}'}}</td>
                            <td width="20%">{{'{{sensor.lastreport}}'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 


{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/sensor.js') }}"></script>

{% endblock %}