{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sensor list</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Humanvalue</th>
                <th>Value</th>
                <th>Lastreport</th>
                <th>Description</th>
                <th>Idsensor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sensor in sensors %}
            <tr>
                <td><a href="{{ path('admin_sensor_show', { 'id': sensor.idsensor }) }}">{{ sensor.humanvalue }}</a></td>
                <td>{{ sensor.value }}</td>
                <td>{% if sensor.lastreport %}{{ sensor.lastreport|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ sensor.description }}</td>
                <td>{{ sensor.idsensor }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_sensor_show', { 'id': sensor.idsensor }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_sensor_edit', { 'id': sensor.idsensor }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_sensor_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
