{% extends 'base.html.twig' %}

{% block breadcumb %}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/">Home</a> 
    </li>
    <li>{%trans%}Configuration{%endtrans%}</li>
    <li><a href="/admin/wei">ModWEI</a></li>
</ul>

{% endblock breadcumb %}


{% block body %}
    <h1>{%trans%}MODWEI List{%endtrans%}</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{%trans%}Nickname{%endtrans%}</th>
                <th>IMEI</th>
                <th>{%trans%}Description{%endtrans%}</th>
                <th>{%trans%}Operator{%endtrans%}</th>
                <th>{%trans%}Customer{%endtrans%}</th>
                <th>{%trans%}Status{%endtrans%}</th>
                <th>{%trans%}Actions{%endtrans%}</th>
            </tr>
        </thead>
        <tbody>
        {% for wei in weis %}
            <tr>
                <td><a href="{{ path('admin_wei_show', { 'id': wei.idwei }) }}">{{ wei.nickname }}</a></td>
                <td>{{ wei.imei }}</td>
                <td>{{ wei.description }}</td>
                <td>{{ wei.operator }}</td>
                <td>{{ wei.customer.nombre }}</td>
                <td>{{ wei.ModweiStatus.description }}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_wei_show', { 'id': wei.idwei }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_wei_edit', { 'id': wei.idwei }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_wei_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
