{% extends 'base.html.twig' %}

{% block body %}
    <h1>{%trans%}MODWEI Information{%endtrans%}</h1><br/>

        <div class="row">
            
            <div class="col-sm-4 col-md-4 col-lg-4">

                <table class="table table-sm table-bordered">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ wei.idwei }}</td>
                        </tr>
                        <tr>
                            <th>{%trans%}Nickname{%endtrans%}</th>
                            <td>{{ wei.nickname }}</td>
                        </tr>
                        <tr>
                            <th>{%trans%}Last report{%endtrans%}</th>
                            <td>{% if wei.lastreport %}{{ wei.lastreport|date('d-m-Y H:i') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>{%trans%}IMEI{%endtrans%}</th>
                            <td>{{ wei.imei }}</td>
                        </tr>
                        <tr>
                            <th>{%trans%}Description{%endtrans%}</th>
                            <td>{{ wei.description }}</td>
                       </tr>
                        <tr>
                            <th>{%trans%}Telephone operator{%endtrans%}</th>
                            <td>{{ wei.operator }}</td>
                        </tr>
                        <tr>
                            <th>{%trans%}Activation date{%endtrans%}</th>
                            <td>{% if wei.activationdate %}{{ wei.activationdate|date('d-m-Y H:i') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>{%trans%}Modification date{%endtrans%}</th>
                            <td>{% if wei.modificationdate %}{{ wei.modificationdate|date('d-m-Y H:i') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>{%trans%}Chip number{%endtrans%}</th>
                            <td>{{ wei.chipnumber }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2"></div>
        </div>

    <a href="{{ path('admin_wei_index') }}"><i class="icon-circle-arrow-left"></i> {%trans%}Back to the list{%endtrans%}</a>
    <a href="{{ path('admin_wei_edit', { 'id': wei.idwei }) }}"><i class="icon-pencil"></i>{%trans%}Edit{%endtrans%}</a>
{% endblock %}
