{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>{%trans%}Alarm edit{%endtrans%}</h1>

    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="{%trans%}Edit{%endtrans%}" />
            {{ form_end(edit_form) }}

            <br/><a href="{{ path('data_alarm_index') }}"><i class="fa fa-caret-square-o-left"></i> {%trans%}Back to the list{%endtrans%}</a><br/><br/>

            {{ form_start(delete_form) }}
                <input type="submit" value="{%trans%}Delete{%endtrans%}">
            {{ form_end(delete_form) }}
        </div>
    </div>
</div>
{% endblock %}
