{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>MODWEI edit</h1>
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="{%trans%}Update{%endtrans%}" />
            {{ form_end(edit_form) }}
        </div>
    </div>
    <br/>
    <a href="{{ path('data_modwei_index') }}"><i class="fa fa-caret-square-o-left"></i> {%trans%}Back to the list{%endtrans%}</a>
    <br/><br/><br/>
    {{ form_start(delete_form) }}
        <input type="submit" value="{%trans%}Delete MODWEI{%endtrans%}">
    {{ form_end(delete_form) }}
    
</div>
{% endblock %}
