<h1>{{ nivel }}</h1>

<p>Se ha producido una alarma en el nivel de <b>{{ gas }}</b> en el punto remoto {{ puntoRemoto }} a las {{ ts|date('H:i') }}. El nivel de <b>{{ gas }}</b> se encuentra en <font style="color:red">{{ valor }} {{ unidad }}</font>.</p>

<p>Por favor comuníquese con el personal de turno para confirmar esta situación.</p>

<p><b>No responda este correo ya que ha sido generado en forma automática por el sistema de monitoreo y alarmas de MSA Chile.</b></p>

------------------------------<br>

<p><b>AVISO DE CONFIDENCIALIDAD.</b></p>
<p>Este correo y la información contenida o adjunta al mismo es privada y confidencial y va dirigida exclusivamente a su destinatario. K-Group informa a quien pueda haber recibido este correo por error que contiene información confidencial cuyo uso, copia, reproducción o distribución está expresamente prohibida. Si no es Ud. el destinatario del mismo y recibe este correo por error, le rogamos lo ponga en conocimiento del emisor y proceda a su eliminación sin copiarlo, imprimirlo o utilizarlo de ningún modo.</p>

<p><b>CONFIDENTIALITY WARNING.</b></p>
<p>This message and the information contained in or attached to it are private and confidential and intended exclusively for the addressee. K-Group informs to whom it may receive it in error that it contains privileged information and its use, copy, reproduction or distribution is prohibited. If you are not an intended recipient of this E-mail, please notify the sender, delete it and do not read, act upon, print, disclose, copy, retain or redistribute any portion of this E-mail. </p>