{% extends 'base.html.twig' %}

{% block stylesheets %}

    <script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js">
    
    </script>

    <!-- Load Google JSAPI -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);


        function drawChart(jsonData) {

            var jsonData = $.ajax({
                url: "/data/sensor/get24/" + {{ sensor.idsensor }},
                dataType: "json",
                async: false
            }).responseText;

            //alert(jsonData);

            var data = new google.visualization.DataTable(jsonData);

            //alert(data);

            var options = {
                title: '{{sensor.weiwei.description}}::{{sensor.description}}',
                curveType: 'function',
                legend: { position: 'bottom' },
                hAxis: {
                    title: 'TimeStamp'
                },
                vAxis: {
                    title: '{{sensor.sensortypesensortype.measurement}}'
                },
                height: 450,
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }

    </script>

{% endblock stylesheets %}


{% block body %}
<div class="container">

    <h1>{%trans%}Records of the last 24 hours{%endtrans%}</h1><br/>

    <a href="{{ path('data_sensor_dashboard') }}"><i class="fa fa-caret-square-o-left"></i> {%trans%}Back to dashboard{%endtrans%}</a>

    <a class="btn btn-primary" href="/data/sensor/get24csv/{{ sensor.idsensor }}" role="button">{%trans%}Export data to Microsoft Excel{%endtrans%}</a><br/><br/>
    
    <div id="curve_chart" style="width: 900px; height: 300px"></div> 

    <a class="btn btn-primary" href="/data/sensor/get24csv/{{ sensor.idsensor }}" role="button">{%trans%}Export data to Microsoft Excel{%endtrans%}</a><br/><br/>
    
</div>


{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/sensor.js') }}"></script>

{% endblock %}