{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sensor</h1>

    <table>
        <tbody>
            <tr>
                <th>Idsensor</th>
                <td>{{ sensor.idsensor }}</td>
            </tr>
            <tr>
                <th>Humanvalue</th>
                <td>{{ sensor.humanvalue }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ sensor.value }}</td>
            </tr>
            <tr>
                <th>Lastreport</th>
                <td>{% if sensor.lastreport %}{{ sensor.lastreport|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sensor.description }}</td>
            </tr>
            <tr>
                <th>Alarmlevel</th>
                <td>{{ sensor.alarmlevel }}</td>
            </tr>
            <tr>
                <th>Formula</th>
                <td>{{ sensor.formula }}</td>
            </tr>
            <tr>
                <th>Channelid</th>
                <td>{{ sensor.channelid }}</td>
            </tr>
            <tr>
                <th>Savehistoryevery</th>
                <td>{{ sensor.savehistoryevery }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_sensor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_sensor_edit', { 'id': sensor.idsensor }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
