{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>{{ sensor.description }}</h1>

    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>{%trans%}Current Value{%endtrans%}</th>
                        <td>{{ sensor.humanvalue }} {{ sensor.sensortypesensortype.measurement }}</td>
                    </tr>
                    <tr>
                        <th>{%trans%}Port Value{%endtrans%}</th>
                        <td>{{ sensor.value }}</td>
                    </tr>
                    <tr>
                        <th>{%trans%}Last report{%endtrans%}</th>
                        <td>{% if sensor.lastreport %}{{ sensor.lastreport|date('d-m-Y H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{%trans%}Description{%endtrans%}</th>
                        <td>{{ sensor.description }}</td>
                    </tr>
                    <tr>
                        <th>{%trans%}Alarm level{%endtrans%}</th>
                        <td>
                            {% if sensor.alarmlevel== 0 %}<img src="{{ asset('img/dot_green.png') }}" width="24" height="24"/>{% endif %}
                            {% if sensor.alarmlevel== 1 %}<img src="{{ asset('img/dot_yellow.png') }}" width="24" height="24"/>{% endif %}
                            {% if sensor.alarmlevel== 2 %}<img src="{{ asset('img/dot_orange.png') }}" width="24" height="24"/>{% endif %}
                            {% if sensor.alarmlevel== 3 %}<img src="{{ asset('img/dot_red.png') }}" width="24" height="24"/>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td>{{ sensor.formula }}</td>
                    </tr>
                    <tr>
                        <th>{%trans%}Port Number{%endtrans%}</th>
                        <td>{{ sensor.channelid }}</td>
                    </tr>
                    <tr>
                        <th>{%trans%}Save history every (minutes){%endtrans%}</th>
                        <td>{{ sensor.savehistoryevery }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
    <a href="{{ path('data_sensor_index') }}"><i class="fa fa-caret-square-o-left"></i> {%trans%}Back to the list{%endtrans%} &nbsp;&nbsp;&nbsp;</a>
    <a href="{{ path('data_sensor_edit', { 'id': sensor.idsensor }) }}"><i class="fa fa-pencil-square-o"></i> {%trans%}Edit{%endtrans%}</a>
    
</div>
{% endblock %}
